include README.rst
include MANIFEST.in
include CHANGELOG.rst
include setup.py
include ease_restapi.egg-info/PKG-INFO
include ease_restapi.egg-info/SOURCES.txt
include ease_restapi.egg-info/dependency_links.txt
include ease_restapi.egg-info/requires.txt
include ease_restapi.egg-info/top_level.txt
include ease_restapi.egg-info/zip-safe
include ease_restapi/__init__.py
include ease_restapi/config.py
include ease_restapi/demo/__init__.py
include ease_restapi/demo/admin.py
include ease_restapi/demo/common.py
include ease_restapi/demo/models.py
include ease_restapi/service/__init__.py
include ease_restapi/service/auth.py
include ease_restapi/service/base.py
include ease_restapi/service/ease_auth.py
include ease_restapi/service/ease_batch.py
include ease_restapi/service/ease_black.py
include ease_restapi/service/ease_file.py
include ease_restapi/service/ease_friend.py
include ease_restapi/service/ease_group.py
include ease_restapi/service/ease_message.py
include ease_restapi/service/ease_msgdata.py
include ease_restapi/service/ease_records.py
include ease_restapi/service/ease_select.py
include ease_restapi/service/ease_user.py
include ease_restapi/simplify/__init__.py
include ease_restapi/simplify/bridge.py
include ease_restapi/simplify/usage.py

include ease_restapi/demo/locale/zh_CN/LC_MESSAGES/django.po
include ease_restapi/demo/locale/zh_CN/LC_MESSAGES/django.mo

recursive-include project_demo *.py
